

body{
    background-color: black;
    color: white;
}

div{
    margin: -10px;
    padding: 0;
}


.facet{
    text-align:left;
    display:inline-block; 
    margin: -2px;
    padding: 0;
    margin-right: -4px;
}

p{
    text-align:left;
    display:inline-block; 
    border-style: dashed;
    margin: -2px;
    padding: 0;
    margin-right: -4px;
    width: 100px;
    height: 80px;

}
