#printPreview{
    visibility: hidden;
    float:right; 
    width:700px;
    height:1000px;
    margin: 10px;
    position: absolute;
    left:45%;
  }

#bottom {
    position: absolute;
    background-color: none;
    height: 792px; 
    padding:0px;
    width:612px;
}

#top{
    position: absolute;
    float: right;
    left:20%;
    top:15px;
  } 


  #annoDisplay{
    position: relative;
    top: -60%;
    right: -40%;
    width: auto;
    height: auto;
    transform: rotate(90deg);
    text-align: center;
  }

  
  #top .stlView{
    margin:0px;
    height:2000px;
    margin-bottom: 10px;
  }
  

  
 button {
    background-color: #d6001c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d58570;
  }

  #instructions{
    float:left;
    margin-top: 50px;
    margin-bottom: 30px;
  }


div#top {
    height: 120%;
    background-position: right, left;
    background-size: 2px 25px;
  }