#printPreview{
  visibility: hidden;
  float:right; 
  width:700px;
  height:1000px;
}

#bottom {
  position: absolute;
  top: 0px;
  background-color: none;
  width: 612px; 
  height: 792px; 
  padding:0px;
}

#top{
  position: absolute;
  left:55%; 
  float: right;
  top:40px;
} 

#top2{
  position: absolute;
  left:55%; 
  float: right;
  top:620px;
} 

#stl_contTop {
  top:200px;
  height:300px;
  width:400px;
}

#stl_contButton {
  top:400px;
  height:300px;
  width:400px;
}

.withBorder{
  border-top: solid;
  border-bottom: solid;
  border-color: #d58570;
  float: left;
}

input[type=text], select {
  height:400px;
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #d6001c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d58570;
}

#annoDisplay {
  position: absolute;
  top: 200px;
  left: 42%;
  background-color: none;
  width: 200px; 
  height: 792px; 
  padding:0px;
}

#annoDisplay p{
  position: absolute;
  top: 70px;
  transform: rotate(90deg);
}
