#printPreview{
  visibility: hidden;
  float:right; 
  width:700px;
  height:1000px;
  margin: 10px;
  position: absolute;
  left:45%;
}

#bottom {
  position: absolute;
  background-color: none;
  height: 792px; 
  padding:0px;
  width:612px;
}

#top{
  position: absolute;
  float: right;
  top:-80px;
  left:16%;
} 

#top2{
  position: absolute;
  float: right;
  top:520px;
  left:16%;
  margin: -20px;
} 

#stl_contTop {
  height:400px;
  width:400px;
}

#stl_contButton {
  height:400px;
  width:400px;
}

.withBorder{
  border-top: solid;
  border-bottom: solid;
  border-color: #d58570;
  float: left;
}

input[type=text], select {
  height:400px;
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #d6001c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d58570;
}

#annoDisplay {
  position: absolute;
  top: 200px;
  left: 42%;
  background-color: none;
  width: 200px; 
  height: 792px; 
  padding:0px;
}

#annoDisplay p{
  position: absolute;
  top: 30%;
  left:120%;
}

#instructions{
  float:left;
  margin-top: 50px;
}