

body{
    background-color: #363635;
    color: white;
    font-family:  Helvetica;
}

#stlCube{
    text-align: center; 
    float: right; 
    width: 612px; 
    height: 762px; 
    background-color: white; 
    color: black;
    padding-top: 30px;
}

div{
    margin: -10px;
    padding: 0;
}


.facet{
    text-align:left;
    display:inline-block; 
    margin: -2px;
    padding: 0;
    margin-right: -4px;
}

p{
    text-align:left;
    display:inline-block; 
    border-style: dashed;
    margin: -2px;
    padding: 0;
    margin-right: -4px;
    width: 160px;
    height: 170px;

}

footer{
    color: white;
    margin-top: 20px;
    width: 100%; 
    padding-top: 60px;
    height: 200px;
    margin-left: 10px;

    background-color:black;	
	text-align:center;
	float:left;
}
