.container .image {
  width: 50%;
  float: left;
}

.container img {
  width: calc(100% - (20px * 2));
  height: width;
  margin: 5px;
}

.container h3{
    margin-top: 40px;
    margin-bottom: 2px;
}

.container{
    text-align: center; 
    float: right; 
    width: 612px; 
    height: 762px; 
    background-color: white; 
    color: black;
    padding-top: 30px;
}

span { font-weight: normal }