.container .image {
  width: 50%;
  float: left;
}

.container img {
  width: calc(100% - (20px * 2));
  height: width;
  margin: 0px;
}

.container h3{
    margin-top: 40px;
    margin-bottom: 2px;
}

.container{
  margin-right:20px; 
  margin-top: 20px; 
    text-align: center; 
    float: right; 
    width: 700px; 
    height: 762px; 
    color: black;
}

span { font-weight: normal }