#intro{
    width: 40%;
    float:center; 
    padding-left: 5px; 
    margin-left:10px;
}

body{
    height:100%;
    background-color: white;
    color: black;
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue"; 
    font-weight:600; 
    font-stretch:condensed;
    border-color: #d58570;
}

h5{
    font-family:"HelveticaNeue-UltraLight";
    font-weight: 300;
    font-size: 15px;
}

span{
    font-family:"HelveticaNeue-UltraLight";
    font-weight: 300;
    font-size: 15px;
}



#navBarLeft{
    float: left; 
    width: 500px; 
    margin: 20px; 
    margin-top:100px; 
    margin-bottom: 150px;
}

#stlCube{
    text-align: center; 
    float: right; 
    width: 612px; 
    height: 762px; 
    background-color: #363635; 
    color: black;
    padding-top: 30px;
}

#blank{
    text-align: center; 
    float: right; 
    width: 612px; 
    height: 762px; 
    background-color: white; 
    color: black;
    padding-top: 30px;
}

div{
    margin: -10px;
    padding: 0;
}


.facet{
    text-align:left;
    display:inline-block; 
    margin: -2px;
    padding: 0;
    margin-right: -4px;
}

#stlCube p{
    text-align:left;
    display:inline-block; 
    border-style: dashed;
    margin: -2px;
    padding: 0;
    margin-right: -4px;
    width: 160px;
    height: 170px;

}

footer{
    color: white;
    margin-top: 20%;
    width: 100%; 
    padding-top: 60px;
    height: 200px;

    background-color:#d6001c;	
	text-align:center;
	float:left;
}

a:link {
    color: black;

}
  
a:visited {
    color: black;
}

.topnav {
    background-color:black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #363635;
    color: white;
    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #606060;
    color: white;
  }


button {
    background-color: #606060; /* Green */
    border: none;
    color: white;
    margin-top: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1{
    margin: -10px;
}

h1 a{
    
    font-size: 200%;
    color:black;
    text-align:center;
    text-decoration: none;
}

h1 a.active {
    text-decoration: none;
    text-align:center;
    color: #d6001c;
    overflow: hidden;
}

#lFile{
    visibility: hidden;
}