*{
    margin:0;
    padding:0;
    font-family: "Futura";  
    box-sizing:border-box;
}


.container{
    padding: 30px 10%;
}

/* navigation bar */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* logo/name */
.name{
    color: #404040;
    text-decoration: none;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* menu items */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

/* each menu item */
nav ul li a{
    color: #404040;;
    text-decoration: none;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}


nav .fas{
    display:none;
}


/* Style the dropdown content container */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* upload container */
.upload-container{
    margin-top: 80px;
    margin-bottom: 80px;
    height: 200px;
    width: auto;
    background-color: rgba(255, 224, 125, 0.20);  
    border-radius: 30px; 
    display: flex;
    justify-content: center;
    align-items: center; 
}



.upload-button{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: #FFE07D;
    width: 200px;
    height: 60px;  
    
}

.workflow-instructions{
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#workflow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    /* width: 100%; */
    /* background: #7072EC; */
}

.work-item {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-item-title {
    margin-bottom: 10px;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
}

/* The Popup (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup Content */
.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.work-item-pic {
    width: 70%;
    height: auto;
    background-color: #FFF;
    /* height: 20vw; */
    object-fit: cover;
    border-radius: 30px;
}

.work-item-text {
    width: 65%;
    /* height: 12.5vw; */
    height:60px;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.gallery{
    margin-top: 40px;
    margin-bottom: 20px;
}

.title{
    color: #404040;
    text-decoration: none;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image-gallery {
    margin-top:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    list-style-type: none;
    /* align-items:stretch; */
  }

.image-gallery > li {
    flex-basis: 350px; 
    /* width: 350px; */
}

.image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 0px;
  }

.about{
    margin-top: 40px;
    margin-bottom: 20px;
}

.about-text{
    margin-top: 2%;
    color: #404040;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.read-more-button{
    margin-top: 2%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: #FFE07D;
    width: 120px;
    height: 40px;  
}

#footer{
    background-color: #7072EC;
    margin-top: 30px;
}

.footer-nav-container{
    display: block;
    align-items: center;
}

.footer-nav{
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.footer-nav li{
    list-style: none;
}

.footer-nav a{
    display: inline-block;
    color:#fff;
    margin:10px;
    font-size: 20px;
    text-decoration: none;
}

.footer-nav h1{
    color:#fff;
    font-size: 20px;
    font-weight: 400;
}

